.video{
    flex: 0.5;
    padding: 20px;
    padding-bottom: 0;
}

.video__yotubeText > h2{
    font-size: 18px;
}

.video__youtubeStatistics{
    color: #606060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.video__youtubeChannelLogoText{
    display: flex;
    align-items: center;
}

.video__youtubeChannelLogo{
    height: 50px !important;
    width: 50px !important;
    margin-right: 10px;
}

@media only screen and (max-width: 800px){
    .video__youtube > iframe{
        height: 380px !important;
    }
}